<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Test Document</title>

    <meta charset="UTF-8">
    <meta name="description" content="Example HTML document for testing extraction">
    <meta name="keywords" content="example,test">
    <meta name="author" content="Joe Bloggs">
    <meta name="creator" content="John Doe">
    <meta name="creator" content="Jane Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>Test Document</h1>
    <p>This is a test document, containing:</p>
    <ul>
      <li>Lists</li>
      <li><strong>Bold text</strong></li>
      <li><em>Italic text</em></li>
      <li><a href="http://www.dstl.gov.uk">Links</a></li>
    </ul>

    <h2>Images</h2>
    <figure>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Cosford-_Royal_Air_Force_Museum-_English_Electric_Lightning_suspended_from_the_ceiling_%28geograph_5765866%29.jpg/640px-Cosford-_Royal_Air_Force_Museum-_English_Electric_Lightning_suspended_from_the_ceiling_%28geograph_5765866%29.jpg" title="Cosford - Royal Air Force Museum - English Electric Lightning suspended from the ceiling" alt="English Electric Lightning suspended from the ceiling at RAF Museum Cosford" />
      <figcaption>Michael Garlick / <em>Cosford: Royal Air Force Museum: English Electric Lightning suspended from the ceiling</em> / <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a></figcaption>
    </figure>

    <p><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Imperial_War_Museum_%28geograph_5302500%29.jpg/640px-Imperial_War_Museum_%28geograph_5302500%29.jpg" /><br />
      Peter Trimming / <em>Imperial War Museum</em> / <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a></p>

    <p><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAIAAAAlC+aJAAABhGlDQ1BJQ0MgcHJvZmlsZQAAKJF9kT1Iw0AcxV/TikVaHOwg4pChdbIgKqKbVqEIFUKt0KqDyaVf0KQhSXFxFFwLDn4sVh1cnHV1cBUEwQ8QJ0cnRRcp8X9poUWMB8f9eHfvcfcOEBoVplmBMUDTbTOdTIjZ3KrY+4oAgggjhhmZWcacJKXgOb7u4ePrXZxneZ/7c4TVvMUAn0g8ywzTJt4gntq0Dc77xBFWklXic+JRky5I/Mh1pcVvnIsuCzwzYmbS88QRYrHYxUoXs5KpEU8SR1VNp3wh22KV8xZnrVJj7XvyF4by+soy12kOI4lFLEGCCAU1lFGBjTitOikW0rSf8PAPuX6JXAq5ymDkWEAVGmTXD/4Hv7u1ChPjraRQAuh5cZyPGNC7CzTrjvN97DjNE8D/DFzpHX+1AUx/kl7vaNEjoH8buLjuaMoecLkDDD4Zsim7kp+mUCgA72f0TTlg4BboW2v11t7H6QOQoa5SN8DBITBSpOx1j3cHu3v790y7vx+TCHK0EBWJigAAAAlwSFlzAAAuIwAALiMBeKU/dgAAAAd0SU1FB+QECA0qKCMzipoAAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAcElEQVRo3u3YsQ2AMBAEwTdy6srI6AIKdHtPEUTo5jsYbXCyR9e/7ygAAAAAgA8361EAAAAAIBgwuhUAAAAASN6B2w4AAAAARO9ArVYAAAAAIHgHrtoKAAAAAOQC5qkAAAAAQPR7oNu/EAAAAEAw4AW56AqqMIa/xAAAAABJRU5ErkJggg==" alt="Rainbow"/></p>

  <h2>Tables</h2>
  <table lang="en" title="Example table" id="colour_prefs">
    <caption>People and their colour preferences</caption>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Colour</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>001</td>
        <td>Alice</td>
        <td>Red</td>
      </tr>
      <tr>
        <td>002</td>
        <td>Bob</td>
        <td>Green</td>
      </tr>
      <tr>
        <td>003</td>
        <td>Charlie</td>
        <td>Blue</td>
      </tr>
    </tbody>
  </table>
  </body>
</html>